<template>
  <div class="home">
    <div class="feature-card">
      <router-link to="/movie/tt0409591">
        <img src="https://printort.ru/wp-content/uploads/2021/09/101363-scaled-600x600.jpg" alt="Naruto Poster"
             class="featured-img">
        <div class="detail">
          <h3>Naruto</h3>
          <p>«Наруто» (яп. NARUTO - ナルト -) — сёнэн-манга Масаси Кисимото, рассказывающая о жизни шумного и
            непоседливого ниндзя-подростка Наруто Удзумаки, мечтающего достичь всеобщего признания и стать Хокагэ —
            главой своего селения и сильнейшим ниндзя. Чтобы добиться уважения окружающих, ему предстоит пройти через
            тысячи препятствий: экзамены ниндзя, различные миссии и сражения.

            Манга выпускалась с 21 сентября 1999 года по 10 ноября 2014 года издательством Shueisha в журнале Weekly
            Shonen Jump. Объединена в 72 танкобона.

            По манге были созданы два аниме-сериала от компаний Aniplex и Studio Pierrot. </p>
        </div>
      </router-link>
    </div>
    <form @submit.prevent="SearchMovies()" class="search-box">
      <input type="text" placeholder="What are you looking for?" v-model="search">
      <input type="submit" value="Search"/>
    </form>
    <div class="movies-list">
      <div class="movie" v-for="movie in movies" :key="movie.imdbID">
        <router-link :to="'/movie/'+movie.imdbID" class="movie-link">
          <div class="product-image">
            <img :src="movie.Poster" alt="Movie Poster"/>
            <div class="type">{{ movie.Type }}
            </div>
          </div>
          <div class="detail">
            <p class="year">{{movie.Year}}</p>
            <h3>{{movie.Title}}</h3>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import {ref} from "vue";
import env from "@/env.js";

export default {
  setup() {
    const search = ref("");
    const movies = ref([])
    const SearchMovies = () => {
      if (search.value != "") {
        fetch(`http://www.omdbapi.com/?apikey=${env.apikey}&s=${search.value}`)
            .then(response => response.json())
            .then(data => {
              movies.value = data.Search;
              search.value = "";
              console.log(movies.value)
            })
      }
    }
    return {
      search, movies, SearchMovies
    }
  }
}
</script>
<style lang="scss">
.home {
  .feature-card {
    position: relative;

    .featured-img {
      width: 100%;
      height: 800px;
      object-fit: cover;

      position: relative;
      z-index: 0;
    }

    .detail {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 16px;
      z-index: 1;

      h3 {
        color: #FFF;
        margin-bottom: 16px;
      }

      p {
        color: #FFF;
      }
    }
  }

  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;

    input {
      display: block;
      appearance: none;
      border: none;
      outline: none;
      background: none;

      &[type="text"] {
        width: 100%;
        color: #FFF;
        background-color: #496583;
        font-size: 24px;
        padding: 10px 16px;
        border-radius: 8px;
        margin-bottom: 15px;
        transition: 0.4s;

        &::placeholder {
          color: #f3f3f3;
        }

        &:focus {
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        }
      }

      &[type="submit"] {
        width: 100%;
        max-width: 200px;
        background-color: #42B883;
        padding: 18px;
        border-radius: 9px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        transition: 0.5s;

        &:active {
          background-color: #3B8070;
        }
      }
    }
  }
  .movies-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px;
    .movie{
      max-width: 50%;
      flex: 1 1 50%;
      padding: 16px 8px;
      .movie-link{
        display: flex;
        flex-direction: column;
        height: 100%;
        .product-image{
          position: relative;
          display: block;
          img{
            display: block;
            width: 100%;
            height: 800px;
            object-fit: cover;
          }
          .type{
            position: absolute;
            padding: 5px 16px;
            background-color: #428883;
            color: #fff;
            bottom: 16px;
            left: 0px;
            text-transform: capitalize;
          }
        }
        .detail{
          background-color: #496583;
          padding: 16px 8px;
          flex: 1 1 100%;
          border-radius: 0 0 8px 8px ;
          .year{
            color: #aaa;
            font-size: 16px;
          }
          h3{
            color: #fff;
            font-weight: 600;
            font-size: 20px;
          }
        }
      }
    }
  }
}
</style>
